.box-image {
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-result {
    position: absolute;
    display: none;
    width: 10em;
}

.anim-img-enter {
    animation: rotateAnim 3s linear infinite;
    display: block!important;
}

/*
* Animations
*/

@keyframes rotateAnim {
    0% {
        transform: rotateY(-90deg);
    }
    50%{
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}

@keyframes rotateAnimShow {
    0% {
        display: block;
    }
    90%{
        display: block;
    }
    100% {
        display: none;
    }
}