.box_evo {
    width: 100%;
    padding: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-right: 10px;

    &-images-all {
        display: flex;
        gap: 10px;
    }
}

@keyframes appearsEvolution {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
